.maincontainerforflex {
    padding-top: 30px;
    padding-bottom: 30px;
}

.serviceblock {
    margin: auto;
    width: 60vw;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #4c4c4c;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

h1 {
    color: black;
}

#reneworapply {
border-radius: 5px;
}

#reneworapply:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: none;
    border-radius: 5px;
}

.serviceform {
    justify-content: center;
    text-align: center;
}

.serviceform p {
    margin-bottom: 10px;
}
.serviceforminput {
    width: 500px;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
}

.radioinput {
    display: block;
    text-align: center;
}

.vehicletype {
    width: 500px;
    justify-content: center;
    display: block;
    margin: auto;
}

.dropdownvehicletype {
    justify-content: center;
}

.schoolname {
    width: 500px;
    justify-content: center;
    display: block;
    margin: auto;
}

.dropdownschoolname {
    justify-content: center;
}

.serviceformbutton {
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}

.serviceformbutton button {
    
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
}

.serviceformbutton button:hover {
    background-color:  rgb(255, 255, 255);
    color: #000;
}

.togglebutton {
    padding: 10px 25px;
}