.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* width: 90vw; */
   	padding: 5px;
    margin-left: 20px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
  display: block;
  height: 250px;
  width: 25vw;
  margin: auto;
  border: 5px solid rgb(0, 0, 0);
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
  /* -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
  clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%); */
  background-color: #4c4c4c;
  border: 5px solid black;
  margin: 1vw;
  color: white;
  /* clip-path: polygon(10% 0, 70% 0%, 100% 0, 100% 70%, 90% 100%, 30% 100%, 0 100%, 0% 30%); */
  padding: 15px;
  transform: scale(100%);
  transition-duration: .5s;
  /* border-radius: 20% 80% 20% 80% / 88% 12% 88% 12% ; */
  border-radius: 25% 25% 25% 25% / 25% 0% 25% 0%;
  width: 26vw;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover, .card9:hover {
  background-color: white;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover, .card9:hover {
  transform: scale(105%);
  transition-duration: .5s;
  /* box-shadow: 1px 1px 30px 2px #01f9f1; */
}

/* h5 h1 {
  color: black;
} */

/* .card-title, .card-text, .phone, h5 h1{
  width: 24vw;
  color: white;
  margin: auto;
  text-align: center;
} */

.card1:hover .card-title, .card-text, .phone, h5 h1, .card2:hover .card-title, .card-text, .phone, h5 h1, .card3:hover .card-title, .card-text, .phone, h5 h1, .card4:hover .card-title, .card-text, .phone, h5 h1, .card5:hover .card-title, .card-text, .phone, h5 h1, .card6:hover .card-title, .card-text, .phone, h5 h1, .card7:hover .card-title, .card-text, .phone, h5 h1, .card8:hover .card-title, .card-text, .phone, h5 h1, .card9:hover .card-title, .card-text, .phone, h5 h1 {
  width: 24vw;
  color: black;
  margin: auto;
  /* text-align: center; */
}
.buttontag {
  padding: 10px;
  color: white;
  margin: auto;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transform: scale(100%);
  transition-duration: .25s;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: scale(120%);
  transition-duration: .25s;
}

.phone {
  padding: 5px;
  display: block;
}