.card-title{
    width: 300px;
  }
  
  .card-text{
    width: 150px;
  }
  
  .card1{
    display: inline;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  }
  
  .card2{
    display: inline;
    position: absolute;
    top: 50px;
    left: 500px;
    width: 100px;
  }
  
  .card3{
    display: inline;
    position: absolute;
    top: 50px;
    left: 930px;
    width: 100px;
  }
  
  
  .card4{
    display: inline;
    position: absolute;
    top: 550px;
    left: 50px;
    width: 100px;
  }
  
  .card5{
    display: inline;
    position: absolute;
    top: 550px;
    left: 500px;
    width: 100px;
  }
  
  .card6{
    display: inline;
    position: absolute;
    top: 550px;
    left: 930px;
    width: 100px;
  }
  
  .card7{
    display: inline;
    position: absolute;
    top: 1000px;
    left: 50px;
    width: 100px;
  }
  
  .card8{
    display: inline;
    position: absolute;
    top: 1000px;
    left: 500px;
    width: 100px;
  }
  
  
  .card9{
    display: inline;
    position: absolute;
    top: 1000px;
    left: 930px;
    width: 100px;
  }
  
  