.ahenlogo {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
}

.item-info {
    padding-top: 20vh;
    margin: 30px;
    width: 35vw;
    height: 46vh;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.box1 {
    background-color: lightgray;
    transform: scale(100%);
    transition-duration: .5s;
    box-shadow: inset 0 0 15px 15px rgb(150, 150, 150);
}
.box2 {
    background-color: gold;
    transform: scale(100%);
    transition-duration: .5s;
    box-shadow: inset 0 0 15px 15px rgb(219, 162, 16);
}
.box3 {
    background-color: hotpink;
    transform: scale(100%);
    transition-duration: .5s;
    box-shadow: inset 0 0 15px 15px rgb(212, 69, 117);
}
.box4 {
    background-color: rgb(70, 180, 109);
    transform: scale(100%);
    transition-duration: .5s;
    box-shadow: inset 0 0 15px 15px rgb(0, 155, 54);
}

.textindiv {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    transform: scale(105%);
    transition-duration: .5s;
}