.maincontainer {
    font-family: Arial, sans-serif;
    padding: 25px;
    margin-top: 10px;
    margin-left: 9.4vw;
  }
  
  .h1tag {
    margin: 20px;
  }
  
  #contact-form {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    height: 83vh;
    color: black;
    /* border: none; */
    /* margin: 10px; */
    /* box-sizing: content-box; */
  }
  
  .cf-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .cf-input, .cf-textarea {
    display: block;
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .cf-input {
    border: 2px solid black;
  }
  
  .cf-textarea {
    height: 20vh;
  }
  
  .cf-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #name:hover, #email:hover, #subject:hover {
    background-color: none;
  }

  #name, #email, #subject {
    border: 1px solid black;
  }

  