.container {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
  }
  
  .h1tag {
    margin-top: 0;
  }
  
  #contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .cf-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .cf-input, .cf-textarea {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cf-textarea {
    height: 200px;
  }
  
  .cf-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }