.maincontainer {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 9.4vw;
  }
  .anothercontainer {
    padding: 25px;
  }
  
  .h1tag {
    margin: 20px;
  }
  
  #contact-form {
    background-color: #01f9f1;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgb(0, 0, 0);
    /* height: 83vh; */
    color: black;
    /* border: none; */
    box-shadow: none;
    margin: 3%;
    /* box-sizing: content-box; */
    /* color: #ffffff; */
  }
  
  .cf-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }
  
  .cf-input, .cf-textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .cf-input {
    border: 2px solid black;
  }
  
  .cf-textarea {
    height: 20vh;
  }
  
  .cf-button {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
  }

  .cf-button:hover {
    background-color: #fff;
    color: #000;
  }
  
  /* .contactsubmit {
    justify-content: center;
    display: flex;
  } */
  
  #name:hover, #email:hover, #subject:hover {
    background-color: none;
  }

  #name, #email, #subject {
    border: 1px solid black;
  }

  .contactsubmit {
    font-size: 20px;
    width: 100%;
    height: 60px;
    /* justify-content: center; */
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: rgb(255, 255, 255);
  }

  .contactsubmit:hover {
    font-size: 150%;
    padding: none;
  }