body {
	margin: 0;
	background-color: grey;
}

.menu {
	position: fixed;
	height: 110%;
	background: #01f9f1;
	width: 10vw;
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
	transition: 1s;
	margin-right: 0;
	z-index: 10;
	
}

.menu:hover {
	width: 40vw;
	padding: 10px;
    cursor: "pointer";
	z-index: 10;
}

.menu1:hover ~ .maincontainer {
	transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1);
}

.menu1{
	margin: 0;
}

.menu:hover nav {
	left: 10vw;
}
	
.maincontainer, .content{
	width: 90.6vw;
	background-color: rgb(51, 51, 51);
	margin-left: 9vw;
	transition: 1s;
	transform-origin: left center;
	color: #D2D2D0;
	z-index: -10;
	/* height: auto; */
    box-shadow: inset 0 0 15px 15px black;

}

.maincontainer .content {
	padding: 100px 20%;
	height: 100%;

}
		
nav {
	position: absolute;
	margin-top: 50%;
	left: -1000px;
	transition: .5s;
}

nav ul {
	color: white;
	text-transform: uppercase;
	list-style-type: none;
}

nav li {
	line-height: 2em;
	letter-spacing: .3em;
}

nav a {
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	/* font-weight: 600; */
}

nav a:hover {
	color: rgb(255, 92, 92);
	font-size: 50px;
}

p {
	line-height: 1.5em
}

h1 {
	color: #bbb
}




@media  screen and ( max-width: 600px) {
    .card{
		padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    nav a {
		font-size: 20px;
		text-decoration: none;
		color: white;
		font-weight: 600;
	}
	
	
	.menu:hover {
		width: 100%;
		height: 30%;
		z-index: 10;
		padding: 10px;
    	cursor: "pointer";
	}
	.menu1:hover .icon{
		margin-right: 10px;
	}
	.menu1:hover nav {
		left: 0%;
		display: block;
	}
	nav {
		position: absolute;
		margin-top: 10%;
		/* margin-left: -50px; */
		transition: .5s;
		/* text-align: center; */
		left: 100%;
		display: none;
	}
	nav a {
		text-align: center;
	}
	.navbody {
		
		padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
	}

	.menu1:hover ~ .maincontainer {
		transform: none;
		transition-duration: 1s;
		z-index: 10;
	}

	.menu1:hover ~ .content {
		transform: none;
		transition-duration: 1s;
		z-index: 10;
	}
}