.mydiv {
    height: 10vh;
    pointer-events: none;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 1.25rem;
    font-size: 1.375rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 150;
    color: white;
}
  
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgb(255, 255, 255) ;
    background-size: contain;
    transition: 1s;
	  transform-origin: left center;
  }

  .menu1:hover ~ .content{
    transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
  }

  

  .loation{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
  
  }
  
  .headline {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
  }
  
  .maps {
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    border: 2px solid black;
    width: 60vw;
    height: 50vh;
    transform: scale(100%);
    transition-duration: 1s;
    /* box-shadow: rgb(0, 0, 0) 0px 0px 10px 10px; */
  }
  
  .maps:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 10px;
    /* box-shadow: rgb(139, 119, 255) 0px 0px 15px 10px; */
    transform: scale(105%);
    transition-duration: 1s;
  }
  
  .form {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border: 2px solid black;
    width: 60vw;
    box-sizing: border-box;
    background-color: rgb(25, 23, 23);
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    color: rgb(255, 238, 238);
    transform: scale(100%);
    transition-duration: 1s;
    /* box-shadow: rgb(0, 0, 0) 0px 0px 10px 10px; */
  }
  
  .form:hover {
    box-shadow: rgb(200, 163, 252) 0px 0px 15px 10px;
    /* box-shadow: rgb(139, 119, 255) 0px 0px 15px 10px; */
    transform: scale(105%);
    transition-duration: 1s;
    
  }
  
  .form-heading {
    text-align: center;
    font-family: 'Times New Roman', 'Times', 'serif';
    color: white;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 2px white solid;
    border-radius: 5px;
    margin-right: 1rem;
  }
  
  .textinputs {
    margin-right: 1rem;
  }
  
  .radiosDurationFeesbox {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
  
  .radio1{
    width: 20%;
  }
  
  #duration {
    width: 40%;
    margin-top: 12px;
    height: 40%;
  }
  
  #feesbox {
    width: 20%;
    border: black 1px solid;
    background-color: white;
    box-sizing: content-box;
    color: black;
    display: block;
  }
  
  .expectedFees {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 2px;
  }
  
  .feesDesign {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .notSelected {
    text-align: center;
  }
  
  @media screen and (max-width: 1200px) {
    .radiosDurationFeesbox {
      display: block;
    }
  
    .radio1{
      width: 100%;
    }
  
    #duration {
      width: 100%;
      margin-top: 0px;
    }
  
    .expectedFees {
      border-bottom: none;
      padding: 0px;
    }
  
    #feesbox {
      display: block;
      width: auto;
      height: 20px;
      margin: 10px 0px;
      padding: 20px;
    }
  
    .fees {
      margin-top: -16px;
    }
  
    .feesDesign {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1199px) {
    
    #feesbox {
      display: flex;
      width: auto;
      height: 20px;
      margin: 10px 0px;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 350px) {
    input[type="email"] {
      text-overflow: ellipsis;
    }
  }
  
  @media screen and (max-width: 320px) {
    select {
      text-overflow: ellipsis;
    }  
  }
  
  @media screen and (max-width: 600px) {
    #feesbox {
      display: block;
      width: auto;
      height: auto;
      margin: 10px 0px;
      padding-top: 10px;
      padding-bottom: 0px;
    }
  }
  select {
    width: 100%;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  
  input[type="submit"] {
    width: 100%;
    color: black;
    background-color: #c1ff9e;
    padding: 10px;
    border: 2px black solid;
    border-radius: 2px;
    margin: 2px;
  }
  
  input[type="submit"]:hover {
  
    background-color: rgb(139, 119, 255);
    cursor: pointer;
  }
  
  input[type="text"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  select:hover {
    background-color: rgb(93, 90, 90);
    border: 2px rgb(255, 255, 255) solid;
    color: white;
  }
  
  input:hover::-webkit-input-placeholder,
  select:hover::placeholder {
    color: white;
  }
  
  input[type="radio"] {
    accent-color: black;
  }
  
  .TextInForm {
    text-align: center;
  }

.menu {
  top: -10px;
}